App{
  text-align: center;
}

li {
  list-style-type: none;
}

header {
  height: 65px;
  background-color: #1e1322;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 0px;
}

#sub-header {

  font-family: 'Work Sans', sans-serif;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 40px;
  font-weight: 900;
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  border-color: #020202;

}

h1 {
  font-family: 'Work Sans', sans-serif;
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Raleway', sans-serif; */
  
  color: #FDFFFC;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0px;
}

h2 {
  font-weight:light;
  color:#FEBD69;
  font-size: 10px;
  margin-bottom: 0px;
}

#loading {
  margin-top: 300px ;
  text-align: center;
}

#list-container {
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: auto;
}

.articles {
  border-style: hidden hidden solid hidden;
  border-width: 10px;
  border-color: #efe4f5;
  padding-top:30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px
}

.single-article {
  padding-top:30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px
}

#article-title {
  font-weight: bold;
  margin-bottom: 3px;
  color: #020100
}

#article-topic-cooking {
  font-size: medium;
  color: #880eca;
  margin-bottom: 30px;
}

#article-topic-coding {
  font-size: medium;
  color: #FFBC0A;
  margin-bottom: 30px;
}

#article-topic-football {
  font-size: medium;
  color: #29a8cf;
  margin-bottom: 30px;
}
#single-article-body {
  margin-bottom:50px
}
#article-body {
  margin-bottom: 30px;
}

#article-author {
  font-size: 12px;
  font-weight: 10px;
  margin-bottom: 12px;
  color:#6a6a6a ;
}

#article-comments {
  margin-top: 12px;
 margin-bottom: 0;
}

#article-created_at {
  font-size: small;
  color: #c1c0c0;
  margin-bottom: 10px;
}

#article-topic-time{
  display: flex;
  justify-content: space-between;
}

#article-votes {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}


#navbar {
  height: 45px;
  background-color:#4d375a;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-color: rgb(255, 255, 255);
  border-width: 1px;

}

.nav {

  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: #fffefe;
  text-decoration: 0;
  margin-bottom: 0px;
}

a:hover {
  border-style: hidden hidden solid hidden;
  color: #ffffff;
  border-width: 2px;
  margin-bottom:0px
}

#article-link{
  text-decoration: underline;
  text-decoration-thickness: 3px;

  background-color: #ffffff;
  font-weight: bold;
  font-size: medium;
  border-style: hidden hidden hidden hidden;
  /* border-width: 2px; */

  color: #4d375a;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

#vote-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

#plus {
  color: #4d375a;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  border-style: hidden hidden hidden hidden;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#minus {
  color: #4d375a;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  border-style: hidden hidden hidden hidden;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#button-votes-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly
}

#mother-container {
  height: 32px;
  padding-left: 0px;
  padding-right: 0px;
  border-style: solid hidden hidden hidden;
   border-width: 1px;
  display:flex;
  justify-content: space-between;
}

#error {
  font-size: 12px;
}